
<!-- Topnav -->
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Search form -->
      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">

        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>

      </form>
      <!-- End Search form -->

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">

        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
          <!-- End Sidenav toggler -->
        </li>

      </ul>
      <!-- End Navbar links -->

      <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <div class="media-body  ml-2  d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">
                    Hello, {{ request.user.first_name }}
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu  dropdown-menu-right ">
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              {% if request.user.userprofile.usertype == "Admin" %}
              <a href="{% url 'admin:index' %}" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Admin Panel</span>
              </a>
              {% endif %}
              <a href="mailto:customerservice@sportsthread.com?subject=ST Event Directory App: Assistance Required" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'authentication:logout' %}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>

  </div>

</nav>
<!-- End Topnav -->
<!-- Header -->
