{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">
              Under Armour Under The Lights Dashboard
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-header bg-transparent pb-5">

            <h3 class="text-center">
              Sign in
            </h3> 
            <br />
            <div class="text-muted text-center mt-2 mb-3">

              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                <span>
                  Create an Account
                </span>
              {% endif %}

            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">

            <form role="form" method="post" action="">

              {% csrf_token %}

              <div class="form-group">
                <h5 class="text-muted">Please note that this field <strong>is</strong> case sensitive, i.e captial letters matter.</h5>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  {{ form.username }}
                </div>
              </div>
              <span class="text-error">{{ form.username.errors }}</span>

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.first_name }}
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.last_name }}
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password1 }}
                </div>
              </div>
              <span class="text-error">{{ form.password1.errors }}</span>

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password2 }}
                </div>
              </div>
              <span class="text-error">{{ form.password2.errors }}</span>

              <div class="text-center">
                <button type="submit" name="register" class="btn btn-primary my-4">Register</button>
              </div>

            </form>

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <a target="_blank" rel="noopener noreferrer" 
            href="mailto:customerservice@sportsthread.com?subject=Youth Sports Directory App: Assistance Required" class="text-neutral"><small><strong>Get Support</strong></small></a>
          </div>
          <div class="col-6 text-right">
            <a href="{% url 'authentication:login' %}" class="text-neutral"><small><strong>Login</strong></small></a>
          </div>
        </div>        
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
